*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#jogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
}

#jogo > button{
    cursor: pointer;
    font-size: 60px;
}
